body {
  margin: 50px 100px 30px 10px;
}
.entre-p {
  margin: auto ;
  padding: auto;
  display: ;
}
.p1 {
  color: yellow;
  background-color: green;
}
header{
  font-size: 5em;
  font-family: sans-serif;
}